# copied from https://gist.github.com/andreasonny83/b24e38b7772a3ea362d8e8d238d5a7bc
# See http://help.github.com/ignore-files/ for more about ignoring files.


# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json


# package-lock
package-lock.json

# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm

# dotenv environment variables file
.env

# System Files
.DS_Store
Thumbs.db